## OS
.DS_Store
.idea
.editorconfig
package-lock.json
.npmrc
.vscode

# Ignored suffix
*.log
*.md
*.svg
*.png
*ignore

## Local
src/unpackage
src/wxcomponents
src/pages.json
src/manifest.json

## Built-files
.cache
dist
